{%extends "sample.html"%}
{%load custom%}

{%block h1_title%}
  {%include "repo/repo_head.html"%}
{%endblock%}

{%block container%}
	{%include "repo/menu_ul.html"%}
	{%for date in date_fitler%}
		<table class="table table-bordered" style="position:relative">
	      <thead>
	        <tr>
	          <th style="background:#E6F1F6;font-weight:normal;font-size:12px">
	             {{date}}
	          </th>
	        </tr>
	      </thead>
	      <tbody>
	      	{%for commit in date|filter_commits:commits%}
	        <tr>
	          <td>
	          	<div class="commit-links">
	          		<div>
	          			<a class="btn btn-small" href="{%url repo_commit repo.owner.username repo.name commit.hexsha current_path%}">{{commit.hexsha|cut_str:"10"}}<span class="mini-icon mini-icon-arr-right-mini"></span>
	          			</a>
	          		</div>
	          		<div style="padding:8px 0 0 13px">
		            	<a href="{%url repo_tree repo.owner.username repo.name commit.hexsha current_path%}">浏览代码 <span  class="mini-icon mini-icon-arr-right"></span>
		            	</a>
		            </div>
	            </div>
	            {%autoescape off%}
	          	<h5>{{commit.message}}</h5>
	          	{%endautoescape%}
	            {{commit.author.name}}<cite style="color:#999">({{commit.author.email}}) {{commit.committed_date|cover_commit_date|timesince}}</cite>
	          </td>
	        </tr>
	        {%endfor%}
	      </tbody>
	    </table>
	{%endfor%}
{%endblock%}