{%extends "sample.html"%}

{%block h1_title%}
  {%include "repo/repo_head.html"%}
{%endblock%}

{%block container%}

  <div class="container-fluid" style="margin-top:30px;">
      <div class="row-fluid">
        <div class="span3">
            {%include "repo/admin/sidebar.html" with repo_admin_page="request"%}
        </div>
        <div class="span9">  

            {%include "repo/admin/services/nav.html" with service_nav="canuse"%} 
          
            <div class="boxed-group flush">
            <h3>
              服务列表
            </h3>
            <div class="boxed-group-inner">
            {%if services|length %}
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>服务名称</th>
                    <th>API地址</th>
                    <th>所需权限</th>
                    <th>服务提供者</th>
                    <th>操作</th>
                  </tr>
                </thead>
                <tbody>
                  {%for service in services%}
                  <tr>
                    <td>{{service.name}}</td>
                    <td>{{service.call_url}}</td>
                    <td>
                      {%if service.needwrite%}
                        读写
                      {%else%}
                        只读
                      {%endif%}
                    </td>
                    <td>{{service.creater}}</td>
                    <form action="{%url repo_service_add repo.owner.username repo.name%}" method="POST">
                    <td>
                        <button type="submit" class="btn btn-link">添加</button>  
                        <input type="hidden" name="service_id" value="{{service.id}}"/>
                    </td>
                    </form>
                  </tr>
                  {%endfor%}
                </tbody>
              </table>
            {%else%}
                没有服务提供
            {%endif%}
            </div>
          </div>

        </div>
      </div>
    </div>  

{%endblock%}