{%extends "sample.html"%}
{%load custom%}
{%block h1_title%}
    <h3 class="page_title">
        <img class="img-circle" src="{%assets%}/img/avatar_default.png" width="45px" height="45px" /> {{request.user.username}}
    </h3>
{%endblock%}
{%block container%}
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          {% include "user/settings/sidebar.html" with settings_page="team"%}
        </div>
        <div class="span9">
            <div class="boxed-group">
                <h3>添加Team</h3>
                <div class="boxed-group-inner">
                <form class="form-horizontal" action="/accounts/settings/team" method="POST">
                  <label for="title">Team名称</label>
                  <p>
                    {{form.name}}    
                  </p>
                  <p>
                      <button type="submit" class="btn">添加</button>
                  </p>
                  </div>
                  {%csrf_token%}
                </form>
                </div>
            </div>
        </div>
      </div>
    </div>
{%endblock%}