{%extends "sample.html"%}
{%block style%}
  <style type="text/css">
    h5 {
      margin:0;
      color:#999;
    }
    h5 span{
      font-weight: normal;
      display: block;
    }
    .repos {
      margin: 15px 0;
      width: 333px;
      border: 1px solid #DDD;
      border-radius: 5px;
    }
    .repos .top-bar{
      position: relative;
      height: 44px;
      background: #FAFAFA;
      background: -moz-linear-gradient(#FAFAFA, #EAEAEA);
      background: -webkit-linear-gradient(#FAFAFA, #EAEAEA);
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom: 1px solid #E1E1E2; 
    }
    .repos h2 {
      margin: 0;
      height: 44px;
      line-height: 44px;
      padding: 0 10px;
      font-size: 16px;
      color: #52595D;
    }
    #your_repos h2 em{
      font-weight: normal;
      font-style: normal;
      color: #bbb;
    }
    #your_repos .my_index{
      font-weight: normal;
      font-style: normal;
      float: right;
    }
    cite{
      color: #bbb;
    }
  </style>
{%endblock%}
{%block container%}
<div class="container-fluid" style="min-height:500px">
  <div class="row-fluid">
    <div class="span7">
      {%if request.user.is_active%}
        {%if sshkeys_len < 1%}
        <div class="alert alert-error">
          你尚未添加 SSH Key 信息, 请 <a href="/accounts/settings/sshkey">点击这里</a> 添加。
        </div>
        {%endif%}
        
      {%else%}
        <form action="{%url validate_code%}" method="POST">
        <div class="alert alert-waring">
          <p>使用GitPower目前需要使用邀请码，请输入邀请码:</p>
          <p>
            <div class="input-prepend input-append">
              <input class="span5" type="text" name="invite_code" placeholder="输入邀请码"/>
              <div class="btn-group">
                <button type="submit" class="btn">
                  马上激活
                </button>
              </div>
              {%csrf_token%}
            </div>
          </p>
        </div>
        </form>
      {%endif%}
      <h4 style="margin-top:20px">快捷入口</h4>
      <ul>
        <li><a href="/accounts/settings/sshkey">SSH Keys 管理</a></li>
        <li><a href="/accounts/settings/team">创建团队</a></li>
        <li><a href="/repo/add">创建项目</a></li>
        <li><a href="/{{request.user}}">我的主页</a></li>
      </ul>

    </div>
    <div class="span5">
          <div class="boxed-group no-padding">
            <div class="list-browser-filterbar">
              <ul class="list-browser-filter-tabs">
              <li>
                <a href="#" data-filter="open" class="filter-tab selected repos-list-selected">
                  我管理的项目 ({{current_profile.repos|length}})
                </a>
              </li>
              <li>
                <a href="{%url profile_index current_profile.user.username%}?tab=joined_projects" data-filter="closed" class="filter-tab ">
                  我参与的项目 ({{current_profile.joined_repos|length}})
                </a>                          
              </li>
              </ul>
            </div>
            <div class="boxed-group-inner no-padding">
              <ul class="repo-listing">
                <form class="form-search">
                <li>
                    <i class="mini-icon mega-icon-search-input"></i>
                    <input type="text" class="input-medium search-query filter-myproject" placeholder="搜索自己的项目"/>
                </li>
                </form>

                {%for repo in current_profile.repos|slice:":10"%}
                <li class="source">
                  <a href="/{{repo.owner.username}}/{{repo.name}}">
                    {{repo.owner.username}} / <strong>{{repo.name}}</strong>
                  </a>
                </li>
                {%endfor%}
                  <li style="text-align:right" class="more"><a style="border-bottom:none;" href="/{{request.user}}">查看所有项目</a></li>
              </ul>
            </div>
        </div>
    </div>
  </div>
</div>
{%endblock%}

{%block script%}
<script type="text/javascript">
  $(document).ready(function(){

    var api = new gpapi({
      url  : "{%url filter_my_projects%}",
      success : function(data){
        $(".repo-listing .source").remove();
        $(data["repos"]).each(function(index, item){
           var item_a  = $('<a href="#"></a>');
           var item_li = $('<li class="source"></li>');
           item_a.html(item.owner + "/" + item.name).appendTo(item_li);

           item_li.insertBefore($(".repo-listing .more"));
        });
      }
    });

    $(".filter-myproject").keyup(function(){
        api.send({
          "keyword" : $(this).val()
        })
    })

  })
</script>
{%endblock%}