{%extends "sample.html"%}
{%load custom%}
{%block style%}

{%endblock%}
{%block container%}
<div class="main-guide">
  <div class="row-fluid">
    <div class="span8">
      <h1>代码托管与团队协作</h1>
      <p class="lead">GitPower是一个在线托管软件项目的服务平台，提供开源代码以及私有项目托管，简单方便的团队交流协作工具</p>
    </div>
    <div class="span4">
      <form class="singup" class="form-horizontal" action="/accounts/signup" method="post">
        <div class="control-group">
            <input type="text" class="input-singup"  name="email" placeholder="常用邮箱" value="{{form.email.value|default:""}}">
        </div>
        <div class="control-group">
            <input type="text" class="input-singup"  name="username" placeholder="用户名" value="{{form.username.value|default:""}}" />
        </div>
        <div class="control-group">
            <input type="password" class="input-singup"  name="password" placeholder="登录密码" >
        </div>
        <div class="control-group">
            <button class="btn btn-large btn-success" type="submit">马上注册</button>
        </div>
        {%csrf_token%}
    </form>
    </div>
  </div>
  <hr />
  <div class="row-fluid marketing">
    <div class="span6">
      <h4>代码托管</h4>
      <p>目前只提供Git项目托管，免费提供公有以及私有仓库的创建和管理 <br />支持成员权限配置，友好的项目浏览展现</p>
    </div>

    <div class="span6">
      <h4>团队协作</h4>
      <p>支持PullRequest, Issue, Team管理，以及对各个成员的权限分配，任务指派等常用团队协作功能</p>
    </div>
  </div>
</div>
{%endblock%}