{%extends "sample.html"%}
{%load custom%}
{%block container%}
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
            <div style="padding-right:15px">
                <img class="img-rounded" style="border:1px solid #ddd;padding:5px;" src="{{current_user|user_profile:'avatar_large'}}" width="210px" height="210px"/>
                <h3 class="userinfo">
                    {{current_user|user_profile:"display_name"}}
                    <em>{{current_user.username}}</em>
                </h3>
                {%if is_team%}
                Team
                {%else%}
                <ul class="userinfo-item">

                    {%if current_user|user_profile:"city"%}
                    <li>
                        <span class="mini-icon mini-icon-location"></span>
                        {{current_user|user_profile:"city"}}
                    </li>
                    {%endif%}

                    {%if current_user|user_profile:"website"%}
                    <li>
                        <span class="mini-icon mini-icon-link"></span>
                        <a href="{{current_user|user_profile:"website"}}" target="_blank">{{current_user|user_profile:"website"}}</a>
                    </li>
                    {%endif%}

                    <li>
                        <span class="mini-icon mini-icon-time"></span>
                        加入时间:{{current_user|user_profile:"date_joined"}}
                    </li>

                </ul>
                {%endif%}
            </div>
        </div>
        <div class="span9">
            <table class="table">
                <thead>
                    <tr>
                        <th>项目</th>
                    </tr>
                </thead>
                <tbody>
                    {%for repo in repos%}
                    <tr>
                      <td>
                        <h5>
                            <a href="#"><a href="/{{repo.owner.username}}/{{repo.name}}">{{repo.name}}</a>
                            <span>{{repo.des}}</span>
                        </h5>
                      </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>

        </div>
      </div>
    </div>
{%endblock%}